.row{
    padding: 20px;
}
div{
    font-size: xx-large;
    background-color:rgb(58, 63, 69);
    text-align: center;
    color:rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-style: normal ;
   
}
#acerca{
  border-radius: 21px;
  background-color: #66a7c5;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
  font-weight: lighter;
  }
#nombre{
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
    font-size: xx-large;
    font-family: 'Finlandica', sans-serif;
    font-style: italic;
   font-weight: lighter;
   color: rgb(255, 255, 255);
    margin-top: 40%;
    margin-left: 10px;
}


@media (min-width: 576px){
    #fotodeperfil {
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
        top: 600px;
    }
}
@media (max-width: 575px){
    #fotodeperfil {
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 33%;
        top: 530px;
    }
}
@media (min-width: 1110px){
    #fotodeperfil {
        position: absolute;
        width: 10%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
        top: 600px;
        
    }
}