.row{
    padding: 20px;
    color:antiquewhite;
    font-family: verdana ;
    font-style: Italic;
    font-weight: lighter ;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);  
}
div{
    background-color:rgb(38, 47, 60);
}