<div class="row">
    <h1><b>Educación</b></h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1><b>Educación</b></h1> - <h3>( años)</h3></li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus doloribus eaque possimus, hic molestiae quia, ipsa illo, rem accusantium error eligendi quas dolorum quasi sapiente. Cumque nobis tempore doloribus assumenda?</p>
        </ul>
        <ul>
            <li><h1><b>Educación</b></h1> - <h3>( años)</h3></li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus doloribus eaque possimus, hic molestiae quia, ipsa illo, rem accusantium error eligendi quas dolorum quasi sapiente. Cumque nobis tempore doloribus assumenda?</p>
        </ul>
        <ul>
            <li><h1><b>Educación</b></h1> - <h3>( años)</h3></li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus doloribus eaque possimus, hic molestiae quia, ipsa illo, rem accusantium error eligendi quas dolorum quasi sapiente. Cumque nobis tempore doloribus assumenda?</p>
        </ul>
    </div> 
</div>       