<div class="row">
    <h1 id= "hys">HARD & SOFT SKILLS</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [outerStrokeWidth]="16"
            imageSrc="../../../assets/html.png"
            [showImage]="true"
            [showUnits]="false"
            [imageHeight]="80"
            [imageWidth]="80"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#D35400'"
            [innerStrokeColor]="'#E67E22'"
            [backgroundColor]="'white'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [outerStrokeWidth]="16"
            imageSrc="../../../assets/CSS.png"
            [showImage]="true"
            [showUnits]="false"
            [imageHeight]="80"
            [imageWidth]="80"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#3498DB'"
            [innerStrokeColor]="'#85C1E9'"
            [backgroundColor]="'white'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [outerStrokeWidth]="16"
            imageSrc="../../../assets/js.png"
            [showImage]="true"
            [showUnits]="false"
            [imageHeight]="80"
            [imageWidth]="80"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#D4AC0D  '"
            [innerStrokeColor]="'#F4D03F  '"
            [backgroundColor]="'white'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [outerStrokeWidth]="16"
            imageSrc="../../../assets/git.png"
            [showImage]="true"
            [showUnits]="false"
            [imageHeight]="90"
            [imageWidth]="90"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#8E44AD'"
            [innerStrokeColor]="'#515A5A'"
            [backgroundColor]="'white'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [outerStrokeWidth]="16"
            imageSrc="../../../assets/grupal.png"
            [showImage]="true"
            [showUnits]="false"
            [imageHeight]="90"
            [imageWidth]="90"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#EC407A'"
            [innerStrokeColor]="'#3498DB'"
            [backgroundColor]="'white'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [outerStrokeWidth]="16"
            imageSrc="../../../assets/eng.png"
            [showImage]="true"
            [showUnits]="false"
            [imageHeight]="90"
            [imageWidth]="90"
            [innerStrokeWidth]="8"
            [innerStrokeColor]="'#F48FB1'"
            [outerStrokeColor]="'#1976D2'"
            [backgroundColor]="'white'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
</div>    