.row{
    padding: 20px;
    color:antiquewhite;
    font-family: 'Finlandica', sans-serif;
    font-style: normal ;
    font-weight:lighter ;
}
div{
    background-color:rgb(53, 62, 72);
}
h1, h3{
    display: inline;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
    font-style: italic;
}
