.row{
    padding: 20px;
    color:antiquewhite;
    font-family:serif;
    font-style: italic ;
    font-weight:normal  ;
}
div{
    background-color:rgb(24, 93, 173);
}
h1, h3{
    display: inline;
}